html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: inherit;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
input {
  font: menu;
  user-select: none;
}

#root {
  height: inherit;
}

.FlatButton {
  border: none;
  padding: 5px;
  min-width: 50px;
  min-height: 32px;
  /* Center text with icon */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
